<p id="notice"><%= notice %></p>

<p style='color:#ffffff;font-size:16px;font-family:PingFang-SC-Medium;'>當前位置: 管理系統 > 病歷號掃碼記錄</p>

<div style='background:#333333;width:1280px;height:30px;color:#ffffff;font-size:18px;font-family:PingFang-SC-Medium;text-align:center;'>病歷號掃碼記錄</div>

<table class="table">
  <thead>
    <tr style='background:#f4f4f4;color:#333333;font-size:14px;font-family:MicrosoftJhengHeiRegular;'>
      <th><%= t(:pid, :scope=>[:activerecord,:attributes,:pt_barcode]) %></th>
      <th><%= t(:site, :scope=>[:activerecord,:attributes,:pt_barcode]) %></th>
      <th><%= t(:scandate, :scope=>[:activerecord,:attributes,:pt_barcode]) %></th>
      <th><%= t(:scantime, :scope=>[:activerecord,:attributes,:pt_barcode]) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pt_barcodes.each do |pt_barcode| %>
      <tr style='background:#f4f4f4;color:#333333;font-size:14px;font-family:MicrosoftJhengHeiRegular;'>
        <td><%= pt_barcode.pid %></td>
        <td><%= pt_barcode.site %></td>
        <td><%= pt_barcode.scandate %></td>
        <td><%= pt_barcode.scantime %></td>
        <td><%= link_to '詳細', pt_barcode %></td>
        <td><%= link_to '修改', edit_pt_barcode_path(pt_barcode) %></td>
        <td><%= link_to '刪除', pt_barcode, method: :delete, data: { confirm: '確定嗎？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增病歷號掃碼記錄', new_pt_barcode_path, :class=>"btn btn-large btn-primary"  %>

<br>
<br>