<p id="notice"><%= notice %></p>

<p style='color:#ffffff;font-size:16px;font-family:PingFang-SC-Medium;'>當前位置: 管理系統 > 病歷號掃碼記錄</p>

<div style='display:table;'>
  <div style='display:table-row;'>
    <div style='display:table-cell;background:#333333;width:1280px;height:30px;color:#ffffff;font-size:18px;font-family:PingFang-SC-Medium;text-align:center;'>排隊記錄</div>
  </div>
  <div style='display:table-row;'>
    <div style='display:table-cell;background:#ffffff;padding-left:5%;'>


<%= form_for(@arrival) do |f| %>
  <% if @arrival.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arrival.errors.count, "error") %> prohibited this arrival from being saved:</h2>

      <ul>
      <% @arrival.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:site, :scope=>[:activerecord,:attributes,:arrival]) %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label t(:count, :scope=>[:activerecord,:attributes,:arrival]) %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label t(:list, :scope=>[:activerecord,:attributes,:arrival]) %><br>
    <%= f.text_field :list %>
  </div>
  <div class="actions">
    <%= f.submit '新增/更新排隊記錄', :class=>"btn btn-large btn-primary", :style=>'background:#3376b2;width:180px;height:40px;margin-left:5%;' %>
    <%= link_to '返回', arrivals_path , :class=>"btn btn-large btn-primary", :style=>'background:#f8b551;width:140px;height:40px;margin-left:5%;'%>
  </div>
<% end %>




      
    </div>
  </div>
</div>


