<style>
  .bg {
    background-image: url(<%= asset_path 'BG.png' %>);
    background-repeat:no-repeat;
    background-size: 100% 100%;
  }
  .bg img {
    min-height: 100%;
  }
</style>



<center>
  <div class='bg'>
    <br><br>

		<p style="font-size:40px; font-weight:bold; font-family:標楷體;">
			排隊狀況
		</p>

		<br>

        <table border=1 style='width:100%;'>
            <tr>
                <td rowspan=2 style="font-size:30pt;width:100px;" align="center">三樓前台</td>
                <td style="font-size:30pt;">人數：<%= @s3FUS1_count %></td>
            </tr>
            <tr>
                <td id='td1' name='td1'>
                    名單：
                    <% @s3FUS1_list.each_with_index(){|find,i| %>
                        <%= find[1] %>,
                    <% } %>
                </td>
            </tr>
        </table>

		<br>
		<br>

        
        <table border=1 style='width:100%;'>
            <tr>
                <td rowspan=2 style="font-size:30pt;width:100px;" align="center">三樓超音波</td>
                <td style="font-size:30pt;">人數：<%= @s3FUS2_count %></td>
            </tr>
            <tr>
                <td id='td2' name='td2'>
                    名單：
                    <% @s3FUS2_list.each_with_index(){|find,i| %>
                        <%= find[1] %>,
                    <% } %>
                </td>
            </tr>
        </table>

		<br>
		<br>
        
        <table border=1 style='width:100%;'>
            <tr>
                <td rowspan=2 style="font-size:30pt;width:100px;" align="center">三樓X光</td>
                <td style="font-size:30pt;">人數：<%= @s3FXRay_count %></td>
            </tr>
            <tr>
                <td id='td3' name='td3'>
                    名單：
                    <% @s3FXRay_list.each_with_index(){|find,i| %>
                        <%= find[1] %>,
                    <% } %>
                </td>
            </tr>
        </table>

		<br>
		<br>
        
        <table border=1 style='width:100%;'>
            <tr>
                <td rowspan=2 style="font-size:30pt;width:100px;" align="center">五樓超音波</td>
                <td style="font-size:30pt;">人數：<%= @s5FUS_count %></td>
            </tr>
            <tr>
                <td id='td4' name='td4'>
                    名單：
                    <% @s5FUS_list.each_with_index(){|find,i| %>
                        <%= find[1] %>,
                    <% } %>
                </td>
            </tr>
        </table>

		<br>
		<br>

        <table border=1 style='width:100%;'>
            <tr>
                <td rowspan=2 style="font-size:30pt;width:100px;" align="center">五樓骨密</td>
                <td style="font-size:30pt;">人數：<%= @s5FBMD_count %></td>
            </tr>
            <tr>
                <td id='td5' name='td5'>
                    名單：
                    <% @s5FBMD_list.each_with_index(){|find,i| %>
                        <%= find[1] %>,
                    <% } %>
                </td>
            </tr>
        </table>

		<br>
		<br>


		<form>
            <%= link_to '回首頁', root_path, :class=>"btn btn-large btn-primary", :style=>'background:#8080ff;width:290px;height:100px;font-size:50pt;'  %>
		</form>
		<br>
		<br>


    </div>
</center>





<script type="text/javascript">
    //style="font-size:30pt;width:100%;word-wrap:break-word;display:inline-block;"

    $(function() {
        //取得設備的寬度後，再減去左邊td的100的寬度，就是右邊的最大寬度，超過此寬度就要自動wrap斷行
        var dwidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        dwidth-=100;
        var i=1;
        for(i=1;i<6;i++){
            $("#td"+i).css({'width':dwidth,'font-size':'30pt','word-wrap':'break-word','display':'inline-block'});
        }
    });


</script>
