<style>
  .bg {
    background-image: url(<%= asset_path 'BG.png' %>);
    background-repeat:no-repeat;
    background-size: 100% 100%;
  }
  .bg img {
    min-height: 100%;
  }
</style>



<center>
  <div class='bg'>
    <br><br>
    
    <p style="font-size:40px; font-weight:bold; font-family:標楷體;">
      客戶位置搜尋
    </p>

    
    <%= form_tag :action => 'result' do %>
      <div style='width:200px;'>
        <br>
        <%= text_field_tag :pid, '', :placeholder=>'病歷號' %>
        <br>

        <br>
        <%= text_field_tag :pname, '', :placeholder=>'姓名' %>
        <br>
      </div>

      <%= hidden_field_tag :search,'yes' %>
      
      <%= submit_tag '搜尋', :class=>"btn btn-large btn-primary", :style=>'background:#80c269;width:290px;height:100px;font-size:50pt;'  %>

      <%= link_to '回首頁', root_path, :class=>"btn btn-large btn-primary", :style=>'background:#8080ff;width:290px;height:100px;font-size:50pt;'  %>
    <% end %>
    
    <br><br>
</div>