<style>
  .bg {
    background-image: url(<%= asset_path 'BG.png' %>);
    background-repeat:no-repeat;
    background-size: 100% 100%;
  }
  .bg img {
    min-height: 100%;
  }
</style>


<center>
  <div class='bg'>
    <br><br>

    <p style="font-size:40px; font-weight:bold; font-family:標楷體;">
      客戶現在位置
    </p>
    <br>



    <p style="font-size:40px; font-weight:bold;">
    <%= @pid %><%= @pname %>
    </p>
    <br>

    <p style="font-size:40px; font-weight:bold">
    <%= @mainsite %>
    </p>

    <br>
    <br>


    <%= link_to '返回', arrival_query_path, :class=>"btn btn-large btn-primary", :style=>'background:#8080ff;width:290px;height:100px;font-size:50pt;'  %>
    <br>
    <br>


  </div>
</center>