<p style='color:#ffffff;font-size:16px;font-family:PingFang-SC-Medium;'>當前位置: 管理系統 > 排隊記錄</p>

<div style='display:table;'>
  <div style='display:table-row;'>
    <div style='display:table-cell;background:#333333;width:1280px;height:30px;color:#ffffff;font-size:18px;font-family:PingFang-SC-Medium;text-align:center;'>排隊記錄</div>
  </div>
  <div style='display:table-row;'>
    <div style='display:table-cell;background:#ffffff;padding-left:5%;'>



<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:site, :scope=>[:activerecord,:attributes,:arrival]) %>:</strong>
  <%= @arrival.site %>
</p>

<p>
  <strong><%= t(:count, :scope=>[:activerecord,:attributes,:arrival]) %>:</strong>
  <%= @arrival.count %>
</p>

<p>
  <strong><%= t(:list, :scope=>[:activerecord,:attributes,:arrival]) %>:</strong>
  <%= @arrival.list %>
</p>

<%= link_to '修改', edit_arrival_path(@arrival) %> |
<%= link_to '返回', arrivals_path %>


    </div>
  </div>
</div>

