<style>
  .bg {
    background-image: url(<%= asset_path 'BG.png' %>);
    background-repeat:no-repeat;
    background-size: 100% 100%;
  }
  .bg img {
    min-height: 100%;
  }
</style>



<center>
  <div class='bg'>
    <br><br>

    <p style="font-size:40px; font-weight:bold; font-family:標楷體;">
      檢查順序查詢
    </p>

    <br>
      <%= form_tag arrival_unitlist_path, :id=>'unitlist', :name=>'unitlist' do %>
          <div style='width:200px;display:inline-block;'>
            <%= select_tag :exam, options_for_select([['',''],['3F_X光檢查','3F_X光檢查'],['3F_前台超音波','3F_前台超音波'],['3F_超音波','3F_超音波'],['5F_超音波','5F_超音波'],['5F_骨密','5F_骨密']], params[:exam]), {:size => 0.5} %>  
          </div>
          <div style='width:30px;display:inline-block;'>
            <%= submit_tag '重整', :class=>"btn btn-large btn-primary", :style=>'border-left:1px solid #000;border-top:1px solid #000;border-right:1px solid #CCC;border-bottom:1px solid #ccc;width:50px;height:30px;font-size:10pt;', :onclick=>"window.location.reload();" %>
          </div>
      <% end %>
    <br>
    <br>
       <p style="font-size:40px; font-weight:bold">
        檢查中：<%= @find_examing %><%= @find_examing_name %>
      </p>
    <br>
    <br>
        

    <% @find_list.each_with_index(){|find,i| %>
      <table border=1 style='width:300px;'>
      <tr>
        <td style="font-size:20pt;">順序<%= i+1 %>：</td>
        <td style="font-size:20pt;"><%= find %><%= @find_list_name[i] %></td>
      </tr>
      </table>
      <br>
      <br>
    <% } %>


    <%= link_to '回首頁', root_path, :class=>"btn btn-large btn-primary", :style=>'background:#8080ff;width:290px;height:100px;font-size:50pt;'  %>
    <br>
    <br>


  </div>
</center>



<script type="text/javascript">
    window.onload=function(){
        //setting auto refresh. @xieyinghua
        var auto = setTimeout(function(){ autoRefresh(); }, 100);

        function submitform(){
          document.forms["unitlist"].submit();
        }

        function autoRefresh(){
           clearTimeout(auto);
           auto = setTimeout(function(){ submitform(); autoRefresh(); }, 300000);
        }
    }
</script>