<p style='color:#ffffff;font-size:16px;font-family:PingFang-SC-Medium;'>當前位置: 管理系統 > 病患清單</p>

<div style='display:table;'>
  <div style='display:table-row;'>
    <div style='display:table-cell;background:#333333;width:1280px;height:30px;color:#ffffff;font-size:18px;font-family:PingFang-SC-Medium;text-align:center;'>病患清單</div>
  </div>
  <div style='display:table-row;'>
    <div style='display:table-cell;background:#ffffff;padding-left:5%;'>
      


<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:pid, :scope=>[:activerecord,:attributes,:patient]) %>:</strong>
  <%= @patient.pid %>
</p>

<p>
  <strong><%= t(:pname, :scope=>[:activerecord,:attributes,:patient]) %>:</strong>
  <%= @patient.pname %>
</p>

<p>
  <strong><%= t(:birthday, :scope=>[:activerecord,:attributes,:patient]) %>:</strong>
  <%= @patient.birthday %>
</p>

<p>
  <strong><%= t(:sex, :scope=>[:activerecord,:attributes,:patient]) %>:</strong>
  <%= @patient.sex %>
</p>

<p>
  <strong><%= t(:telephone, :scope=>[:activerecord,:attributes,:patient]) %>:</strong>
  <%= @patient.telephone %>
</p>

<p>
  <strong><%= t(:address, :scope=>[:activerecord,:attributes,:patient]) %>:</strong>
  <%= @patient.address %>
</p>

<%= link_to '修改', edit_patient_path(@patient) %> |
<%= link_to '返回', patients_path %>






    </div>
  </div>
</div>



